{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <div align='center'>
      <h1 >Your shopping cart</h1>
      <p>Your selected items are shown below</p>

    </div>
  </div>


<div class="container">
  <h1>{{ title }}</h1>

  <table class="">
    <tr><th>Product</th><th>Quantity</th><th>Price</th><th>Total</th></tr>

    {% for key, value in display_cart.items() %}
    <tr>
      <td>{{ value["title"] }}</td>
      <td>{{ value["quantity"] }}</td>
      <td>£{{ value["price"] }}</td>
      <td>£{{ (value["quantity"] * value["price"]) }}</td>

      <td>
        <form action="{{ url_for('delete_tea', tea_id=key|int) }}" method="POST">
          <input class="" type="submit" value="Delete">
        </form>
      </td>
    </tr>
    {% endfor %}

  </table>
  <h3>Total: £{{ total }} </h3>
  <h3>Number of items: {{ total_quantity }} </h3>


</div>


{% endblock %}
